/* Header Styles */
.header {
  /* padding: 10px 0; /* Reduced padding to minimize space at the top and bottom */
   margin: 0; /* Remove any extra margins */
   display: flex;
   justify-content: space-between;
   align-items: center;
 }
 
 .header .logo {
   max-width: 120px; /* Reduced maximum width for smaller logo */
   max-height: 120px; /* Reduced maximum height */
   height: auto; /* Maintain aspect ratio */
 }
 
 /* Menu Styles */
 .header-menu {
   display: flex;
   list-style: none;
   gap: 20px;
   color: #008080;
   font-size: 18px;
   text-decoration: none; /* Remove underline */
   margin: 0; /* Remove default list margin */
   padding: 0; /* Remove default list padding */
 }
 
 .header-menu a {
   color: #008B8B;
   text-decoration: none;
   font-size: 18px;
   transition: color 0.3s ease;
 }
 
 .header-menu a:hover {
   color: #40E0D0; /* Highlight on hover */
 }
 
 .header-menu .active {
   padding-bottom: 2px;
   border-bottom: 2px solid #008B8B;
 }
 
 /* Right Section (Icons, Login Button) */
 .header-right {
   display: flex;
   align-items: center;
   gap: 40px;
 }
 
 .header-right a {
   color: #48D1CC;
   font-size: 20px;
   text-decoration: none;
   transition: color 0.3s ease;
 }
 
 .header-right a:hover {
   color: #40E0D0;
 
  }
  html {
    scroll-behavior: smooth;
  }
  